.advantages {
  margin-bottom: 49px;
}

.advantages__list {
  @include list-reset;
  @include common-text;
}

.advantages__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.advantages__item {
  width: 280px;
  position: relative;
  padding-left: 80px;
  margin: 0;
  margin-bottom: 24px;
}

.advantages__item::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: $base-green;
  position: absolute;
  left: 0;
}

.advantages__text {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-bottom: 32px;
  }

  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 32px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 597px;
    column-gap: 148px;
    row-gap: 37px;
  }

  .advantages__item {
    padding: 0;
    margin: 0;
    margin-bottom: 57px;
    align-self: end;
  }

  .advantages__text {
    @include common-text-tablet;
  }

  .advantages__item::before {
    content: "";
    width: 80px;
    height: 80px;
    background-color: $base-green;
    bottom: 102px;
  }
}

// Стили для декстопной версии.

@media (min-width: $desktop-width) {
  .advantages {
    padding: 0;
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 69px;
  }

  .advantages__title {
    margin-bottom: 32px;
  }

  .advantages__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 94px;
    min-height: 280px;
  }
}
