.program__list {
  @include list-reset;
}

.program__item {
  background-color: $basic-grey;
}

.program__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.program__text {
  @include text;
}

.program__link {
  text-decoration: none;
  color: $base-black;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
