.program {
  padding-left: 20px;
  padding-right: 20px;
}

.program__list {
  @include list-reset;
}

.program__item {
  background-color: $basic-grey;
  min-height: 226px;
  padding: 30px 33px 18px 20px;
  margin-bottom: 20px;
}


.program__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 70px;
  margin: 0;
}

.program__text {
  @include common-text;
}

.program__link {
  text-decoration: none;
  color: $base-black;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .program {
    padding-left: 30px;
    padding-right: 30px;
  }

  .program__item {
    padding: 77px 316px 53px 52px;
    margin-bottom: 30px;
  }

  .program__item:last-child {
    margin-bottom: 45px;
  }

  .program__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 0;
    margin-bottom: 24px;
  }

  .program__text {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 48px;
  }

  .program__link {
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    position: relative;
    bottom: 114px;
    padding-left: 110px;
    padding-right: 110px;
  }

  .program__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 30px;
  }

  .program__item {
    margin: 0;
    padding: 77px 61px 55px 52px;
  }

  .program__item:last-child {
    margin: 0;
  }

  .program__title {
    padding-left: 214px;
    margin-bottom: 73px;
  }

  .program__text {
    margin: 0;
    margin-bottom: 23px;
}
}
