.promo {
  @include background-green;
  background-image: $gradient, url("../../../img/index-background-desktop.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.promo__title {
  color: $base-white;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.promo__slogan {
  color: $base-white;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
