.sample {
  background-color: $sample-gray;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
}

.sample__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}

.sample__text {
  @include common-text;
  margin: 0;
  margin-bottom: 20px;
}

.sample__description {
  @include common-text;
  background-color: $sample-gray;
  font-size: 12px;
  line-height: 12px;
  width: 77px;
  height: 24px;
  text-align: center;
  text-transform: lowercase;
}

.sample__price-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sample__value {
  text-transform: uppercase;
  margin: 0;
  margin-top: 15px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  grid-row-start: 1;
}

.sample__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sample__item {
  border: 1px solid $special-gray;
  border-radius: 3px;
  width: 122px;
  height: 56px;
  display: grid;
  gap: 8px;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .sample {
    padding-left: 30px;
    padding-right: 30px;
    background-image: linear-gradient($base-white 619px, $sample-gray 462px);
  }

  .sample__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 60px;
  }

  .sample__text {
    @include common-text-tablet;
    margin: 0;
    margin-bottom: 55px;
  }

  .sample__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .sample__list {
    column-gap: 43px;
    margin: 0;
  }

  .sample__price-text {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: end;
    padding: 0;
  }

  .sample__item {
    width: 162px;
    height: 77px;
    gap: 16px;
  }

  .sample__value {
    font-size: 30px;
    line-height: 37px;
  }

  .sample__description {
    background-color: $base-white;
    font-size: 14px;
    line-height: 14px;
    top: 44px;
  }

  .sample__description--block-1 {
    width: 114px;
    top: 70px;
    left: 22px;
  }

  .sample__description--block-2 {
    width: 142px;
    top: 70px;
    left: 8px;
  }
}

@media (min-width: $desktop-width) {
  .sample {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title slider" "paragraph slider" "statistics slider";
    grid-template-rows: auto 210px 210px;
    padding-top: 0;
    padding-left: 110px;
    padding-right: 110px;
    background-image: linear-gradient($base-white 25%, $sample-gray 25%);
  }

  .sample__title {
    grid-area: title;
    margin-bottom: 146px;
  }

  .sample__text {
    grid-area: paragraph;
    margin-bottom: 0;
    width: 436px;
  }

  .slider__images {
    text-align: right;
  }

  .sample__wrapper {
    grid-area: statistics;
    top: 371px;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .sample__price-text {
    text-align: start;
    align-content: space-around;
    flex-direction: row;
    column-gap: 63px;
  }

  .sample__description {
    background-color: $sample-gray;
  }
}
