.btn-burger {
  padding: 20px;
  position: absolute;
  bottom: 4px;
  right: 3px;
  z-index: 4;
  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
