.footer {
  background-color: $basic-grey;
  min-width: max-content;
}


.footer__logo {
  display: block;
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
}

.footer__container {
  background-color: transparent;
}

.footer__address {
  background-color: $base-white;
}

.footer__address--background {
  background-color: $basic-grey;
}

.footer__address-container {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 26px 0;
  width: 280px;
  min-width: max-content;
  text-align: left;
}

.footer__address-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  text-transform: uppercase;
  margin: 0;
}

.footer__address-text {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $dark-gray;
  margin: 0;
}

.dev__container {
  margin-bottom: 40px;
}

.footer__dev {
  @include link-reset;
  color: $dark-gray;
  display: flex;
  padding: 20px 0 40px 0;
  justify-content: space-between;
}

.footer__dev-name {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .footer__address-container {
    padding: 60px 0;
    justify-content: space-between;
    column-gap: 308px;
    margin: auto;
  }

  .footer__address-title {
    font-size: 20px;
    line-height: 26px;
  }

  .footer__address-text span {
    display: block;
    margin-top: 22px;
  }

  .footer__address-text {
    font-size: 16px;
  }

  .footer__link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__dev {
    gap: 23px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer__address-container {
    column-gap: 87px;
    background-color: #ffffff;
    margin: 0;
    padding-left: 70px;
    padding-right: 70px;
  }

  .footer__address--background {
    background-color: $base-white;
  }

  .footer {
    position: relative;
    background-color: $basic-grey;
  }

  .footer__logo {
    padding: 0;
  }

  .footer__container {
    width: 565px;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    z-index: 2;
  }

  .footer__link-container {
    padding: 40px 20px;
  }

  .footer__address {
    display: grid;
  }
}
