.sample {
  background-color: $sample-gray;
  min-width: max-content;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient($base-white 619px, $sample-gray 462px);
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 75px 0;
    background-image: linear-gradient($base-white 25%, $sample-gray 25%);
  }
}

.sample__container {
  padding-top: 25px;
  text-align: left;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-areas: "title slider" "paragraph slider" "statistics slider";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 210px 210px;
  }
}

.sample__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 40px 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-area: title;
    margin-bottom: 146px;
  }
}

.sample__text {
  @include common-text;
  margin: 0 0 20px 0;

  @media (min-width: $tablet-width) {
    @include common-text-tablet;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    grid-area: paragraph;
    margin-bottom: 0;
    width: 436px;
  }
}

.sample__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-area: statistics;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
}

.sample__price-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: end;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    align-content: space-around;
    flex-direction: row;
    column-gap: 63px;
  }
}

.sample__value {
  text-transform: uppercase;
  margin: 15px 0 0 0;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  grid-row-start: 1;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.sample__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $tablet-width) {
    column-gap: 43px;
    margin: 0;
  }
}

.sample__item {
  border: 1px solid $special-gray;
  border-radius: 3px;
  width: 122px;
  height: 56px;
  display: grid;
  gap: 8px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 77px;
    gap: 16px;
  }
}

.sample__description {
  @include common-text;
  background-color: $sample-gray;
  font-size: 12px;
  line-height: 12px;
  width: 77px;
  height: 24px;
  text-align: center;
  text-transform: lowercase;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    background-color: $base-white;
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    background-color: $sample-gray;
  }
}

.sample__description--block-1 {
  @media (min-width: $tablet-width) {
    width: 114px;
  }
}

.sample__description--block-2 {
  @media (min-width: $tablet-width) {
    width: 142px;
  }
}

.slider__images {
  @media (min-width: $desktop-width) {
    text-align: right;
  }
}
