.catalog__list {
  @include list-reset;
}

.catalog__wrapper {
  width: 50%;
}

.catalog__title {
  @include common-title;
  text-align: center;
  margin: 0;
  margin-bottom: 41px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
