.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header__container {
  padding-top: 14px;
  padding-bottom: 14px;
}

.advantages__container {
  text-align: left;
}

.sample__container {
  text-align: left;
}

.footer__container {
  background-color: $base-white;
}

.catalog-other__container {
  margin-bottom: 35px;
}

.form__container {
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .container {
    width: 768px;
    padding: 0 30px;
    position: relative;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
  }

  .form__container {
    padding: 0 70px 0 70px;
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1440px;
    padding: 0 110px;
    background-color: transparent;
  }

  .header__container {
    padding: 55px 110px;
  }

  .catalog-other__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .sample__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title slider" "paragraph slider" "statistics slider";
    grid-template-rows: auto 210px 210px;
  }
}
