.logo {
  text-decoration: none;
  min-height: 38px;
  box-sizing: content-box;
  position: relative;
}

.logo__image-title {
  display: block;
  position: absolute;
  left: 90px;
  bottom: 14px;
}

.logo__image--icon::before {
  content: "";
  display: block;
  width: 50px;
  height: 38px;
  top: 14px;
  left: 56px;
  pointer-events: none;
  cursor: default;
  background-color: #28bb28;
}

.footer__logo {
  width: 120px;
  padding-top: 40px;
  padding-bottom: 20px;
  justify-content: center;
  margin: auto;
}

.page-header__logo {
  width: 190px;
  column-gap: 56px;
}

@media (min-width: $tablet-width) {
  .logo {
    height: 50px;
    column-gap: 14px;
    width: 174px;
  }

  .logo__image {
    position: static;
  }

  .footer__logo {
    padding: 0;
    margin: 0;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    height: 59px;
  }
}
