.logo {
  text-decoration: none;
  min-height: 38px;
  box-sizing: content-box;
  position: relative;
}

.logo__image-title {
  display: block;
  position: absolute;
  left: 90px;
  bottom: 14px;
}

.footer__logo {
  width: 120px;
  padding-top: 40px;
  padding-bottom: 20px;
  justify-content: center;
  margin: auto;
}

@media (min-width: $tablet-width) {
  .logo {
    height: 50px;
    column-gap: 14px;
    width: 174px;
  }

  .logo__image {
    position: static;
  }

  .logo__image-title {
    left: 72px;
    bottom: 16px;
  }

  .footer__logo {
    padding: 0;
    margin: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    height: 59px;
  }

  .logo__image-title {
    left: 74px;
    bottom: 24px;
  }
}
