.page-header {
  background-color: $base-white;
  padding: 13px 21px 14px 20px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
    align-items: center;
  }
}
