.page {
  height: 100vh;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  line-height: 27px;
  box-sizing: border-box;
}

.page__body {
  font-family: "Oswald", sans-serif;
  min-height: 100vh;
  color: #000000;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .page__body {
    width: auto;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page__body {
    width: auto;
  }
}
