@import "variables.scss";
@import "fonts.scss";

.promo {
  background-image:
    $gradient,
    url("../img/index-background-desktop.png");
  background-repeat: no-repeat;
  background-color: rgba(104, 183, 56, 0.85);
}
