.advantages {
  padding-block: 0 49px;

  @media (min-width: $tablet-width) {
    padding-block: 0 59px;
    border-bottom: 1px solid $light-gray;
  }

  @media (min-width: $desktop-width) {
    padding-block: 0 71px;
    border: none;
  }
}

.advantages__container {
  display: grid;
  text-align: left;
  row-gap: 41px;

  @media (min-width: $tablet-width) {
    row-gap: 74px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 71px;
  }
}

.advantages__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  @include list-reset;
  @include common-text;
  display: grid;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 90px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.advantages__item {
  display: flex;
  align-items: center;
  column-gap: 20px;

  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: $base-green;
    flex-shrink: 0;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: $tablet-width) {
    @include common-text-tablet;
    flex-direction: column;
    align-items: flex-start;
  }

  @media (min-width: $tablet-width) {
    @include common-text-tablet;
  }
}

.advantages__item--healthy {
  @media (min-width: $tablet-width) {
    max-width: 236px;
    min-height: 227px;
    row-gap: 32px;
    background-image: url("../../icons/num-one.svg");
    background-repeat: no-repeat;
    background-size: 88px 227px;
    background-position: 80% 0;
  }
}

.advantages__item--healthy::before {
  background-image: url("../../icons/adv-item-1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;

  @media (min-width: $tablet-width) {
    background-size: 35%;
  }
}

.advantages__item--fast {
  @media (min-width: $tablet-width) {
    max-width: 236px;
    min-height: 227px;
    row-gap: 32px;
    background-image: url("../../icons/num-two.svg");
    background-repeat: no-repeat;
    background-size: 115px 227px;
    background-position: 100% 0;
  }
}

.advantages__item--fast::before {
  background-image: url("../../icons/adv-item-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;

  @media (min-width: $tablet-width) {
    background-size: 35%;
  }
}

.advantages__item--nutritious {
  @media (min-width: $tablet-width) {
    max-width: 236px;
    min-height: 227px;
    row-gap: 32px;
    background-image: url("../../icons/num-three.svg");
    background-repeat: no-repeat;
    background-size: 112px 230px;
    background-position: 100% 0;
  }
}

.advantages__item--nutritious::before {
  background-image: url("../../icons/adv-item-3.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;

  @media (min-width: $tablet-width) {
    background-size: 35%;
  }
}

.advantages__item--effective {
  @media (min-width: $tablet-width) {
    max-width: 242px;
    min-height: 227px;
    row-gap: 32px;
    background-image: url("../../icons/num-four.svg");
    background-repeat: no-repeat;
    background-size: 119px 229px;
    background-position: 102% 0;
  }
}

.advantages__item--effective br {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.advantages__item--effective::before {
  background-image: url("../../icons/adv-item-4.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45%;

  @media (min-width: $tablet-width) {
    background-size: 35%;
  }
}

