.button {
  @include link-reset;
  @include product-title;
  background-color: $base-green;
  color: $base-white;
  text-transform: uppercase;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.button--other {
  @media (min-width: $desktop-width) {
    width: 244px;
  }
}
