.button {
  @include link-reset;
  @include product-title;
  display: flex;
  justify-content: center;
  background-color: $base-green;
  color: $base-white;
  text-transform: uppercase;
  width: 100%;
  padding-block: 10px;
  text-align: center;

  &:focus-visible {
    opacity: 0.8;
  }
}

.button--more {
  @include link-reset;
  @include product-title;
  display: flex;
  justify-content: center;
  background-color: $basic-grey;
  color: $dark-gray;
  grid-column: 1 / 3;
  text-transform: uppercase;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;

  &:focus-visible {
    opacity: 0.8;
  }
}

.button--other {
  grid-column: 1 / 3;

  &:hover {
    background-color: $dark-green;
  }

  &:active {
    color: rgb(255, 255, 255, 0.3);
  }

  &:focus-visible {
    opacity: 0.8;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    grid-area: 1 / 3 / auto / -1;
  }
}
