.catalog {
  border-top: 1px solid $light-special-gray;

  @media (min-width: $tablet-width) {
    border: none;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.catalog__container {
  display: grid;
  padding-top: 27px;
  gap: 41px;


  @media (min-width: $tablet-width) {
    width: 708px;
    margin: auto;
    gap: 165px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding-top: 62px;
  }
}

.catalog__title {
  @include common-title;
  text-align: center;
  margin-block: 0;
  margin-inline: 0 21px;

  @media (min-width: $tablet-width) {
    @include common-title-big;
    text-align: left;
    padding: 0;
  }
}

.catalog__list {
  @include list-reset;
  display: grid;
  gap: 24px;

  @media (min-width: $tablet-width) {
    gap: 140px 60px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    gap: 144px 80px;
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
    padding-bottom: 76px;
  }
}

.catalog__item {
  box-shadow: 0 -1px 0 0 $special-gray;

  @media (min-width: $tablet-width) {
    box-shadow: none;
  }
}

.catalog__product-title {
  @include product-title;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include product-title-other;
  }
}

.catalog__product-info {
  @include catalog-product-info;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1 / 3;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    grid-column: 2 / 3;
    grid-template-columns: 1fr auto;
    column-gap: 52px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 4;
  }
}

.catalog__product-info dd {
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.catalog__product-definition {
  text-align: right;
}

.catalog--other {
  border: none;
  position: relative;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding-bottom: 74px;
  }
}

.catalog__title--other {
  background-color: $base-white;
  box-shadow: -20px 0 0 0 $base-white, 20px 0 0 0 $base-white;
  position: relative;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  justify-self: left;

  @media (min-width: $tablet-width) {
    padding-bottom: 6px;
  }

  &::after {
    content: "";
    background-color: $base-green;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 2px;
    top: 15px;
    right: 0;
    box-shadow: 100vw 0 0 0 $base-green;

    @media (min-width: $tablet-width) {
      top: 21px;
    }

    @media (min-width: $desktop-width) {
      top: 23px;
    }
  }

  @media (min-width: $tablet-width) {
    @include common-title;
    padding-left: 38px;
    box-shadow: 0 0 0 0 $base-white, 40px 0 0 0 $base-white;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
    padding-left: 0;
  }
}

.catalog-other__container {
  margin-bottom: 35px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.catalog__list--other {
  gap: 0;

  @media (min-width: $tablet-width) {
    @include common-title-tablet;
    text-align: left;
    margin: 0;
    padding-bottom: 0;
    box-shadow: 0 0 0 1px $special-gray;
    grid-template-columns: 1fr;
  }

  @media (min-width: $desktop-width) {
    box-shadow: none;
    grid-column: 1 / 2;
  }
}

.catalog__item--other {
  display: grid;
  row-gap: 12px;
  align-items: center;
  padding: 12px 0 20px;
  box-shadow: 0 -1px 0 0 $special-gray;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    padding-block: 26px 28px;
    padding-inline: 38px;
    box-shadow: 0 -1px 0 0 $special-gray, inset 0 0 0 0 $special-gray;
    row-gap: 25px;

    &:last-child {
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    padding-block: 16px;
    padding-inline: 0;
    box-shadow: 0 -1px 0 0 $special-gray, inset 0 -1px 0 0 $special-gray;
  }
}

.catalog__other {
  display: grid;
  gap: 36px;
  padding-block: 23px;
  margin: auto;
  width: 280px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding-block: 0;
    gap: 74px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    grid-template-columns: 1fr 245px;
    gap: 75px 80px;
  }
}

.catalog__wrapper {
  width: 280px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
