.form {
  border-top: 1px solid $light-special-gray;
  text-align: left;
  padding-block: 27px 32px;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $light-special-gray;
    position: absolute;
    top: 439px;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: $light-special-gray;
    position: absolute;
    top: 596px;
  }

  @media (min-width: $tablet-width) {
    border: none;

    &::before,
    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form__title {
  @include common-title;
  margin-inline: 0;
  margin-block: 0 37px;

  @media (min-width: $tablet-width) {
    @include common-title-big;
    margin-block-end: 55px;
    grid-column: 1 / 3;
  }
}

.form__text {
  @include form-text;
  margin: 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include common-text-big;
    text-transform: uppercase;
    grid-column: 1 / 3;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.form__module {
  @include form-common-text;
  color: $dark-gray;

  @media (min-width: $tablet-width) {
    @include common-text-big;
    grid-column: 1 / 3;
  }
}

.form__module--info {
  border: none;
  margin: 0;
  padding-inline: 0;
  padding-block: 37px 24px;

  @media (min-width: $tablet-width) {
    padding-block: 66px 70px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    padding-block: 0;
  }
}

.form__text-label {
  flex-shrink: 0;
  font-size: 16px;
  margin-right: 15px;
  color: $dark-gray;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    @include common-text-big;
  }
}

.form__text-input {
  width: 100%;
  min-width: 80px;
  margin: 0;
  padding: 11px 15px;
  border: 1px solid $very-light-gray;
  font-family: inherit;
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include common-text-big;
    padding: 11px 20px;
  }
}

.form__module--diet {
  border: none;
  margin: 0;
  padding-inline: 0;
  padding-block: 22px 19px;

  @media (min-width: $tablet-width) {
    box-shadow: 0 0 0 1px $very-light-gray;
    padding-inline: 27px;
    padding-block: 23px 27px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
  }
}

.form__module--contacts {
  position: relative;
  margin-inline: 0;
  margin-block: 26px 24px;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    margin-block: 65px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
  }
}

.form__contacts-container {
  display: grid;
  row-gap: 35px;
}

.form__module-legend--contacts {
  position: relative;
  padding-bottom: 35px;
  grid-column: 1 / 3;

  &::before {
    content: "";
    display: block;
    width: 207px;
    height: 52px;
    position: absolute;
    background-color: $base-white;
    z-index: -1;

    @media (min-width: $tablet-width) {
      width: 592px;
      height: 36px;
      left: -40px;
    }
  }

  &::after {
    content: "";
    background-color: $base-green;
    z-index: -2;
    width: 280px;
    height: 2px;
    position: absolute;
    top: 16px;
    right: -115px;

    @media (min-width: $tablet-width) {
      width: 100vw;
      top: 22px;
      right: -151px;
    }

    @media (min-width: $desktop-width) {
      left: -220px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 76px;
  }
}

.form__module-legend--contacts br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__module--comment {
  position: relative;
  border: none;
  margin: 0;
  padding-inline: 0;
  padding-block: 0 23px;

  @media (min-width: $tablet-width) {
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
  }
}

.form__comment-container {
  display: grid;
  row-gap: 38px;
}

.legend-comment {
  &::before {
    content: "";
    display: block;
    width: 207px;
    height: 52px;
    position: absolute;
    background-color: $base-white;
    z-index: -1;

    @media (min-width: $tablet-width) {
      width: 418px;
      height: 36px;
      left: 0;
    }
  }
}

.form__module-list {
  @include list-reset;
  display: grid;
  row-gap: 13px;

  @media (min-width: $tablet-width) {
    row-gap: 18px;
  }
}

.form__module-item {
  display: flex;
  align-items: center;
  margin: 0;
}

.form__module-radio {
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;
}

.form__radio-label {
  align-self: center;
  padding-inline: 15px 0;
  padding-block: 0;
}

.form__checkbox-label {
  align-self: center;
  padding-inline: 15px 0;
  padding-block: 0;
}

.form__text-input::placeholder {
  @include form-common-text;
  color: $dark-gray;

  @media (min-width: $tablet-width) {
    @include common-text-big;
  }
}

.form__field-input::placeholder {
  @include form-common-text;
  color: $dark-gray;

  @media (min-width: $tablet-width) {
    @include common-text-big;
  }
}

.form__comment-input {
  @include form-common-text;
  color: $dark-gray;
  min-width: 100%;
  min-height: 150px;
  margin-top: 38px;
  padding: 14px;

  @media (min-width: $tablet-width) {
    @include common-text-big;
    color: $dark-gray;
    min-width: 100%;
    min-height: 175px;
    padding: 11px;
  }
}

.form__button {
  @include product-title;
  border: none;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    @include form-button;
  }
}

.form__module-legend {
  @include form-legend;
  text-transform: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include common-title;
    text-transform: none;
  }
}

.form__comment-label {
  @include form-legend;
  text-transform: none;

  &::before {
    content: "";
    display: block;
    width: 141px;
    height: 26px;
    position: absolute;
    background-color: $base-white;
    z-index: -1;

    @media (min-width: $tablet-width) {
      width: 262px;
      height: 36px;
      left: -40px;
    }
  }

  &::after {
    content: "";
    background-color: $base-green;
    z-index: -2;
    width: 280px;
    height: 2px;
    position: absolute;
    top: 16px;
    right: -20px;

    @media (min-width: $tablet-width) {
      width: 768px;
      top: 25px;
      right: -100px;
    }

    @media (min-width: $tablet-width) {
      width: 1440px;
      right: -220px;
    }
  }

  @media (min-width: $tablet-width) {
    @include common-title;
    text-transform: none;
  }
}

.form__field-label {
  flex-shrink: 0;
  font-size: 16px;
  margin-right: 15px;
  color: $dark-gray;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    @include common-text-big;
  }
}

.form__field-input {
  width: 100%;
  min-width: 80px;
  margin: 0;
  padding: 11px 15px;
  border: 1px solid $very-light-gray;
  font-family: inherit;
  font-size: 16px;
  text-transform: uppercase;

  &[type="email"] {
    background-image: url("../../icons/icon-email.svg");
    background-size: 17px 13px;
    background-repeat: no-repeat;
    background-position: right 13px top 16px;
  }

  &[type="tel"] {
    background-image: url("../../icons/icon-phone.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: right 13px top 16px;
  }

  @media (min-width: $tablet-width) {
    @include common-text-big;
  }
}

.form__module--extra {
  border: none;
  margin: 0;
  padding-inline: 0;
  padding-block: 0 34px;

  @media (min-width: $tablet-width) {
    padding-block-end: 52px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
  }
}

.form__extra-container {
  display: grid;
  row-gap: 34px;
}

.form__module-check {
  display: grid;
  grid-template-columns: auto 1fr;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.form__module-legend--extra {
  padding-bottom: 34px;

  @media (min-width: $tablet-width) {
    padding-bottom: 67px;
  }
}

.form__checkbox-input {
  width: 30px;
  height: 30px;
  background-color: $base-white;
  border: 1px solid $special-gray;
  appearance: none;
}

.form__checkbox-input[type="checkbox"]:checked {
  background-image: url("../../icons/icon-check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__submit-note {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 32px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.module-info {
  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }
}

.module-diet {
  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    border: 1px solid $very-light-gray;
  }
}

.module-comment {
  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }
}

.form__comment-input::placeholder {
  @media (min-width: $tablet-width) {
    @include common-text-big;
  }
}


.form__module-list--extra {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 123px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 52px;
  }
}

.form__radio-input {
  margin: 0;
  width: 30px;
  height: 30px;
  appearance: none;
  border: 1px solid $special-gray;
  border-radius: 50%;

  &[type="radio"]:checked::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    width: 13px;
    height: 13px;
    background-color: $base-green;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
}
