.logo {
  text-decoration: none;
  min-height: 38px;
  box-sizing: content-box;
  display: flex;
  gap: 14px;
  align-items: center;
  //position: relative;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus-visible {
    opacity: 0.8;
  }


  @media (min-width: $tablet-width) {
    position: static;
  }
}

.logo__image-title {
  display: block;
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.logo__image {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
