.logo {
  text-decoration: none;
  min-height: 38px;
  box-sizing: content-box;
  position: relative;

  @media (min-width: $tablet-width) {
    position: static;
  }
}

.logo__image-title {
  display: block;
  position: absolute;
  left: 90px;
  bottom: 14px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.logo__image {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
