.main {
  flex-grow: 1;
}

.main__form-container {
  display: grid;

  @media (min-width: $tablet-width) {
    padding-inline: 70px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    padding-inline: 0;
    column-gap: 80px;
  }
}
