.main-nav {
  background-color: $base-white;
  display: flex;

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.main-nav__list {
  @include list-reset;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 15px;
    font-size: 18px;
    line-height: 24px;
  }
}

.main-nav__item {
  border-top: 1px solid $light-gray;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-nav__item:last-child {
  border-bottom: 1px solid $light-gray;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.main-nav__link {
  @include link-reset;
  color: $base-black;
  text-transform: uppercase;
  padding-block: 23px;
  padding-inline: 20px 0;

  @media (min-width: $tablet-width) {
    padding-inline: 21px 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-visible {
    opacity: 0.8;
  }
}

.main-nav--is-open .main-nav__wrapper {
  position: absolute;
  top: 62px;
  left: -20px;
  width: calc(100% + 20px);
  background-color: $base-white;

  @media (min-width: $tablet-width) {
    position: static;
    background-color: transparent;
  }
}

.main-nav--is-close .main-nav__list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

//Отработка меню при отключенном JS

.main-nav--nojs .btn-burger {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}


.main-nav__link--active {
  pointer-events: none;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: relative;
      display: block;
      bottom: -6px;
      width: 100%;
      height: 2px;
      border-bottom: 2px solid $base-green;
    }
  }
}

.main-nav__list--index a {
  @media (min-width: $desktop-width) {
    color: $base-white;
  }
}

.main-nav__list--index .main-nav__link--active::after {
  @media (min-width: $desktop-width) {
    content: "";
    position: relative;
    display: block;
    bottom: -4px;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid $base-white;
  }
}

.main-nav--is-close .btn-burger::before {
  content: "";
  position: absolute;
  display: block;
  top: 6px;
  left: 8px;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--is-open .btn-burger {

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 15px;
    right: -3px;
    width: 24px;
    height: 2px;
    background-color: #000000;
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
