.map {
  display: grid;
  height: 362px;
  z-index: 1;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }
}

.map__frame {
  border: none;
  width: 100%;
  height: 100%;
  z-index: 1;
  grid-area: 1 / 1 / 3 / 2;
}

.map__alt {
  z-index: 0;
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  text-align: center;
}
