.page-header__logo {
  margin-inline-end: 7px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-inline-end: 0;
  }
}

.page-header__logo-title {
  display: flex;
  margin-inline: auto;
  margin-block: 24px 22px;
}

.page-header--index::before {
  @media (min-width: $desktop-width) {
    content: "";
    background-image:
      linear-gradient(to top, #ffffff 0, rgba(104, 183, 56, 0.85) 0),
      image-set(url("../../images/index-background-desktop@1x.jpg") type("image/jpg") 1x, url("../../images/index-background-desktop@2x.jpg") type("image/jpg") 2x, url("../../images/index-background-desktop@1x.webp") type("image/webp") 1x, url("../../images/index-background-desktop@2x.webp") type("image/webp") 2x);
    height: 694px;
    position: absolute;
    left: 50%;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}
