.page {
  height: 100vh;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  box-sizing: border-box;
}

.page__body {
  min-width: max-content;
  min-height: 100vh;
  color: #000000;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}
