.product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 0 24px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    background-color: $basic-grey;
    padding: 0;
  }
}

.product__catalog-wrapper {
  width: 50%;
}

.product__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.product__link {
  @include link-reset;
  color: $base-black;
}

.product__title {
  @include product-title;
  margin: 0;
}
