.product {
  @media (min-width: $tablet-width) {
    background-color: $basic-grey;

    &:last-child {
      background-color: $base-white;
    }
  }
}

.product__container {
  width: 280px;
  margin: auto;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $tablet-width) {
    grid-template-rows: 172px auto auto 1fr;
    padding-top: 0;
    padding-block-end: 40px;
    padding-inline: 15px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.product__image-wrapper {
  margin: auto;
  grid-row: 1 / 3;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
  }
}

.product__image {
  @media (min-width: $tablet-width) {
    margin-block-start: -150px;
  }
}

.product__link {
  @include link-reset;
  color: $base-black;

  @media (min-width: $tablet-width) {
    text-align: center;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    padding-inline: 65px;
  }

  @media (min-width: $tablet-width) {
    padding-inline: 40px;
  }
}

.product__title {
  @include product-title;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include product-title-tablet;

    br {
      display: none;
    }
  }
}

.product__info {
  @include product-info;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2 / 3;

  @media (min-width: $tablet-width) {
    @include product-info-tablet;
    grid-column: 1 / 3;
    row-gap: 10px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 32px;
  }
}

.product__info dd {
  @media (min-width: $tablet-width) {
    text-align: end;
  }
}

.product__info-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1 / 3;

  @media (min-width: $tablet-width) {
    box-shadow: inset 0 -1px 0 0 $special-gray;
  }
}

.product__button {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.product__more {
  display: grid;
  row-gap: 10px;
  width: 280px;
  margin: auto;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: 1fr 1fr 40px;
    row-gap: 17px;
    padding-inline: 15px;
  }
}

.product__description {
  @include product-title;
  text-transform: uppercase;
  margin: 0;
  grid-column: 1 / 3;

  @media (min-width: $tablet-width) {
    @include product-title-tablet;
    padding-inline: 50px;
    padding-block-end: 23px;
  }

  @media (min-width: $tablet-width) {
    padding-inline: 25px;
  }
}

.product__text {
  @include product-info;
  grid-column: 1 / 3;
  margin: 0;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    @include product-info-tablet;
  }
}

.product--more {
  text-align: center;
  padding-top: 78px;
  padding-bottom: 24px;
  border-bottom: 1px solid $light-special-gray;
  background-image: url("../../icons/plus.svg");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 50% 10%;

  @media (min-width: $tablet-width) {
    border-bottom: none;
    box-shadow: inset 0 0 0 1px $basic-grey;
    background-size: 60px 60px;
    padding-top: 170px;
  }
}
