.program {
  margin: auto;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.program__list {
  @include list-reset;
  text-align: center;
  display: grid;
  gap: 20px;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.program__item {
  background-color: $basic-grey;
  padding: 30px 33px 18px 20px;
  text-align: left;
  position: relative;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 77px 316px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding: 77px 61px 55px 52px;
  }

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    background-color: $base-green;
    border-radius: 50%;
    position: absolute;
    top: 24px;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      background-color: $base-green;
      border-radius: 50%;
      position: absolute;
      top: 92px;
      right: 93px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      background-color: #68b738;
      border-radius: 50%;
      position: absolute;
      top: 47px;
      left: 52px;
    }
  }
}

.program__item--slim {
  &::after {
    content: "";
    display: block;
    width: 36px;
    height: 50px;
    background-image: url("../../images/program-slim-cat.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 22px;
    right: 218px;

    @media (min-width: $tablet-width) {
      width: 140px;
      height: 194px;
      top: 83px;
      right: 122px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
      left: 70px;
      top: 48px;
    }
  }
}

.program__item--pro {
  &::after {
    content: "";
    display: block;
    width: 67px;
    height: 28px;
    background-image: url("../../images/program-pro-cat.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 35px;
    right: 206px;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;
      top: 136px;
      right: 78px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
      top: 78px;
      left: 30px;
    }
  }
}

.program__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 70px;
  margin: 0 0 29px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 214px;
    margin-bottom: 73px;
  }
}

.program__text {
  @include common-text;
  margin: 0;
  border-bottom: 1px solid $light-special-gray;
  padding-bottom: 23px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 40px;
    margin: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 23px;
  }
}

.program__link {
  @include link-reset;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $base-black;
  margin-top: 15px;

  &::before {
    content: "";
    display: block;
    width: 32px;
    height: 10px;
    background-image: url("../../icons/stack.svg#arrow");
    position: absolute;
    bottom: 3px;
    left: 90px;

    @media (min-width: $tablet-width) {
      line-height: 30px;
    }
  }
}
