.promo {
  background-image:
    linear-gradient(to top, #ffffff 216px, rgba(104, 183, 56, 0.85) 200px),
    image-set(url("../../images/index-background-mobile@1x.png") type("image/png") 1x, url("../../images/index-background-mobile@2x.png") type("image/png") 2x, url("../../images/index-background-mobile@1x.webp") type("image/webp") 1x, url("../../images/index-background-mobile@2x.webp") type("image/webp") 2x);
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 27px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    background: none;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 266px;
  }
}

.promo__container {
  display: grid;
  gap: 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 120px 1fr 56px;
    grid-template-rows: repeat(3, auto);
    gap: 0;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 160px 72px 54px;
    grid-template-columns: 80px 1fr 1fr;
    padding-top: 110px;
    margin-bottom: 80px;
  }
}

.promo__container picture {
  @media (min-width: $tablet-width) {
    display: contents;
  }
}

.promo__title {
  @include common-title;
  color: $base-white;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #000000;
    grid-column: 2 / 4;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
  }
}

.promo__slogan {
  color: $base-white;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
    margin-bottom: 52px;
  }
}

.promo__content-image {
  display: block;
  margin: auto;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1 / 3 / 4 / -1;
    margin-block-start: -80px;
    margin-inline-start: -180px;
  }
}

.promo__button {
  @media (min-width: $tablet-width) {
    width: 244px;
    grid-column: 2 / 2;
    grid-row: 3 / 4;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 2;
    margin-top: 0;
  }
}

.promo__button:hover {
  background-color: $dark-green;
}

.promo__button:active {
  color: rgb(255, 255, 255, 0.3);
}
