.sample {
  background-color: $sample-gray;
  min-width: max-content;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient($base-white 619px, $sample-gray 462px);
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 75px;
    background-image: linear-gradient($base-white 147px, $sample-gray 147px);
  }
}

.sample__container {
  display: grid;
  gap: 20px;
  padding: 25px 0 40px;
  text-align: left;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 101px;
    gap: 55px;
  }

  @media (min-width: $desktop-width) {
    grid-template:
      "title slider" 147px
      "paragraph slider" 166px
      "statistics slider" auto / 1fr 1fr;
    gap: 0;
  }
}

.sample__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    grid-area: title;
    margin-bottom: 0;
  }
}

.sample__text {
  @include common-text;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include common-text-tablet;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    grid-area: paragraph;
    align-self: end;
    width: 436px;
    margin-bottom: 0;
  }
}

.sample__wrapper {
  display: grid;
  gap: 35px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-area: statistics;
    grid-template-rows: 72px;
    grid-template-columns: 366px;
    gap: 60px;
    margin-top: 69px;
  }
}

.sample__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;

  @media (min-width: $tablet-width) {
    column-gap: 43px;
  }
}

.sample__price-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  column-gap: 4px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    flex-flow: column wrap;
    text-align: end;
    row-gap: 10px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 10px;
    flex-flow: nowrap;
  }
}

.sample__value {
  text-transform: uppercase;
  margin: 15px 0 0;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  grid-row-start: 1;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.sample__item {
  border: 1px solid $special-gray;
  border-radius: 3px;
  width: 122px;
  height: 56px;
  display: grid;
  gap: 8px;
  justify-content: center;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 77px;
    gap: 16px;
  }
}

.sample__description {
  @include common-text;
  background-color: $sample-gray;
  font-size: 12px;
  line-height: 12px;
  width: 77px;
  height: 24px;
  text-align: center;
  text-transform: lowercase;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    background-color: $base-white;
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    background-color: $sample-gray;
  }
}

.sample__description--block-1 {
  @media (min-width: $tablet-width) {
    width: 114px;
  }
}

.sample__description--block-2 {
  @media (min-width: $tablet-width) {
    width: 142px;
  }
}

.slider__images {
  @media (min-width: $desktop-width) {
    text-align: right;
  }
}
